.travelInfo {
  position: absolute;
  background-color: var(--grey-2);
  border-radius: 15px;
  height: 200px;
  width: 300px;
  z-index: 9999;
  margin: 25px;
  padding: 20px;
}

.travelSection {
  display: flex;
  flex-direction: column row;
  gap: 20px;
}

.map {
  height: 100lvh;
}

