.blankList {
  background-color: #f7f7f7;
  height: 100lvh;
}

.placeList {
  height: 100lvh;
  overflow: auto;
}

.placeContainer {
  padding: 5px 0px 5px 10px;
  overflow: auto;
  cursor: pointer;
  border-bottom: 1px solid var(--grey-2);
}

.placeContainer:hover {
  background-color: rgba(254, 194, 12, 0.5);
  color: var(--grey-5);
}

.highlighted {
  background-color: var(--yellow-1) !important;
  opacity: 1 !important;
  color: var(--grey-5);
}

.placeName {
  font-weight: bold;
}

.placeLocator {
  height: 15px;
  margin-right: 3px;
}

.placeAddress {
  display: flex;
  align-items: center;
  font-size: smaller;
}
