.header {
  grid-area: header;
  padding: 5px;
  background-color: #fff;
  color: var(--grey-5);
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--white-2);
  color: #808080;
  height: calc(100vh - 64px);
}

.main {
  grid-area: main;
  height: calc(100vh - 64px);
}

.container {
  display: grid;
  grid-template-columns: 20rem auto;
  grid-template-rows: 4rem auto;
  grid-template-areas:
    "header header"
    "sidebar main";
  overflow: hidden;
}
