.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  background-color: #1c59a7;
}

.main {
  grid-area: main;
}

.container {
  display: grid;
  grid-template-columns: 20rem auto;
  grid-template-rows: 4rem auto;
  grid-template-areas:
    "header header"
    "sidebar main";
}
