:root {
  --blue-1: #1c59a7;
  --blue-2: #218ce6;
  --white-1: #fff;
  --white-2: #f7f7f7;
  --grey-1: #eaeaec;
  --grey-2: #dbdbdc;
  --grey-3: #b1b1b4;
  --grey-4: #808080;
  --grey-5: #424242;
  --yellow-1: #fec20c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

div[mapboxgl-children] {
  display: none;
}

.mapboxgl-control-container {
  display: none;
}
